<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thingamabob App</title>
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/lists.css" />
</head>
<body>
    <!-- Navbar -->
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/thingamabobs">Thingamabobs</a></li>
        <li><a href="/dohickies">Dohickies</a></li>
        <li><a href="">Whatchamagiggers</a></li>
    </nav>

    <!-- List area -->
    <main>
        <h1 class="view-title"></h1>
        <ul class="t-list">
            
        </ul>
    </main>

    <!-- Thingamabob modal -->
    <div class="t-modal-container modal-container" id="t-modal">
        <div class="modal">
            <div class="t-m-header m-header">
                <button class="btn m-close-btn">X</button>
            </div>
            <div class="t-m-body m-body">

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../scripts/lists/lists.js" type="module"></script>
</body>
</html>