<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thingamabob App</title>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
    <!-- Navbar -->
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/thingamabobs">Thingamabobs</a></li>
        <li><a href="">Dohickies</a></li>
        <li><a href="">Whatchamagiggers</a></li>
    </nav>

    <h1>Poppets!</h1>

    <!-- Scripts -->
    <script src="/scripts/index.js" type="module"></script>
</body>
</html>