html {
    min-height: 640px;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
}

body {
    height: 100%;
}

main {
    /* background-color: #f00; */
    text-align: center;
    height: 100%;
    width: 100%;
}

.widget:hover {
    background-color: darkblue;
    cursor: pointer;
}

.widget {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    margin: 25px auto;
}

.widget p {
    margin-top: 25px;
    font-weight: bold;
}

.modal-container {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    min-height: 1000px;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal {
    background-color: #fff;
    border: 1px solid #000;
    margin: 15% auto;
    min-height: 400px;
    width: 98%;
}

.m-header,
.m-body {
    margin: 0 auto;
}

.m-header {
    border-bottom: 1px solid #ccc;
    height: 40px;
    width: 100%;
}

.m-body {
    margin-top: 30px;
    min-height: 375px;
    width: 98%;
}

.btn {
    background-color: #fff;
    border: 0;
    color: #444;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 12px;
}

.m-body-table {
    width: 100%;
}

.m-body-table tr th,
.m-body-table tr td {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    padding: 7% 0;
}

.hidden {
    display: none;
}

.warning {
    color: #f00;
}

@media all and (min-width: 1280px) {

    .modal-container {
        height: 100%;

    }

    .modal {
        width: 70%;
    }

    .m-body {
        width: 90%;
    }
    
    .m-body-table tr th,
    .m-body-table tr td {
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        padding: 10px 0;
    }
}