.modal {
    min-height: 200px;
    margin: 50% auto;
}

.m-body {
    min-height: 150px;
}

.t-list {
    list-style: none;
    padding: 0;
}

.t-list li {
    display: block;
    margin: 15px auto;
    width: 95%;
}

.list-btn:hover {
    background-color: darkblue;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.list-btn {
    border: 1px solid #444;
    padding: 20px 0;
    width: 100%;
}

.t-add:hover {
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.t-add {
    background-color: #fff;
    border: 1px solid green;
    border-radius: 100%;
    color: green;
    font-size: 18px;
    font-weight: bold;

}